.answer_element{
    padding: 10px;
    /*border-bottom: 1px solid #dfdfdf;*/
    border-top: 1px solid #dfdfdf;

}
.answer_element_author_button {
    font-size: small;
}

.answer_element_author_button img {
    border: 2px solid #4e6895;
    width: 30px;
    border-radius: 5px;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom:10px;
}

.unpressed_like_answer_button{
    border:1px solid #5ad65a;
    color: #5ad65a;
    background: transparent;
    border-radius: 4px;
    padding:4px 10px;
}

.unpressed_like_answer_button:hover{
    border:1px solid #2ba326;
    color: #2ba326;
}

.pressed_like_answer_button{
    border:1px solid #2ba326;
    color: #fff;
    background: #2ba326;
    border-radius: 4px;
    padding:4px 10px;
}

.not_active_like_answer_button{
    border:1px solid #888;
    color: #888;
    background: transparent;
    border-radius: 4px;
    padding:4px 10px;
}

.not_active_like_answer_button:hover{
    cursor:default;
}


.answer_element_author_line{
    display:-webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
}

.answer_element_author_line p{
    color: #a2a2a2;
    font-size:12px;
    text-align: right;
    -webkit-box-flex:1;
}

#answer_like_line{
    margin-top:10px;
    display:-webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
}
#answer_like_line p{
    margin-left:5px;
}
