* {
    margin: 0;
    padding: 0;
    outline: 0;
    color: #696969;
}

html {
    overflow-y: scroll;
}

body {
    background: #d9eafe;
    font-family: "Trebuchet MS", sans-serif;
}

a {
    text-decoration: none;
}

button{
    background: transparent;
    border:0;
}

button:hover {
    cursor: pointer;
}

.title_text{
    color: rgb(49, 49, 99);
}

#page_wrapper {
    box-sizing: border-box;
    width: 60%;
    /*height: 110%;*/
    margin: 40px auto 0 auto;
    padding: 40px 0 0 0;
}

/*
    MAIN HEADER STRUCTURE
*/
#main_header_background {
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    background-color: #4e6895;
}

#main_header_content {
    width: 60%;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    background-color: #4e6895;
}

/*
    MAIN HEADER LEFT PART
*/
#main_header_left_part {
    width: 25%;
    text-align: left;
}

#home_button img {
    width: 30px;
}

/*
    MAIN HEADER CENTER PART
*/
#main_header_center_part {
    width: 50%;
    text-align: center;
}

#search_box {
    padding-left: 10px;
    width: 70%;
    height: 70%;
    border-radius: 6px;
    background: #2d3758;
    border: 0;
    color: #d9eafe;
}

/*
    MAIN HEADER RIGHT PART
*/
#main_header_right_part {
    width: 25%;
    text-align: right;
}

#call_login_menu_button {
    border-radius: 5px;
    color: #eaeaee;
    font-size: 14px;
    padding: 10px;
}

#call_login_menu_button:hover {
    text-decoration: underline;
}

/*
    LOGIN MENU
*/
#login_menu {
    display: none;
    position: fixed;

    top: 38px;
    right: 20%;

    padding: 10px;

    background: white;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}

#login_menu input {

    width: 200px;
    height: 26px;
    border: 1px solid #abb2e1;
    border-radius: 2px;
    font-size: 13px;
    display:block;

    padding: 3px;
    margin-top: 10px;
}

#complete_login_button {
    margin-top:10px;
    width: 200px;
    height: 26px;
    font-size: 13px;
    border-radius: 2px;
    border: 0;
    color: #eaeaee;
    background: -webkit-linear-gradient(top, rgb(78, 104, 149) 0%, rgba(58, 65, 122, 1) 100%);
}

.call_registration_page_button {
    margin-top: 5px;
    color: darkgray;
}

.call_registration_page_button:hover {
    text-decoration: underline;
}

.arrow-up {
    display: none;
    position: relative;
    top: -15px;

    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
    font-size: 0;
    line-height: 0;
}

#auth_menu_arrow {
    right: -90%;
}

#auth_header_ask_question_button {
    width: 35%;
    height: 25px;
    font-size: 13px;
    border-radius: 2px;
    color: #eaeaee;

    background: -webkit-linear-gradient(top, rgb(78, 104, 149) 0%, rgba(58, 65, 122, 1) 100%);
}

#auth_header_call_options_menu_button {
    font-size: 13px;
    color: #eaeaee;
    height: inherit;
}

#auth_header_call_options_menu_button img {
    width: 30px;
    border-radius: 3px;
    vertical-align: middle;
}

#options_menu_arrow {
    right: 0;
}

#options_menu {
    display: none;
    top: 38px;
    width: 6%;
    right: 20%;
    padding: 10px;
    position: fixed;
    background: white;
    border-radius: 3px;

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
    text-align: left;

}

#options_menu button {
    width: 100px;
    margin-top: 5px;
    text-align: left;
}

#mask{
    display:none;
    background: rgba(0,0,0,0.5);
    height:100%;
    width:100%;
    position: fixed;
    top:0;
    left:0;
    z-index:100;
}

#question_form_wrapper{
    display:none;
    background: white;
    position:fixed;
    width:40%;
    left:30%;
    box-sizing:border-box;
    /*right:70%;*/
    top:20%;
    height:40%;
    z-index:101;
    border-radius: 5px;
    padding:15px;
}

#question_form_title_field{

    width: 100%;

    border:0;
    border-bottom: 1px solid #abb2e1;
    font-size: 16px;
    padding: 5px;
}

#question_form_text_area{
    padding:5px;
    margin-top:10px;
    margin-bottom:5px;
    resize:none;
    width:100%;
    font-size: 14px;

}

#question_form_tags_field{
    width: 100%;
    /*height: 30px;*/
    border:0;
    /*border-bottom: 1px solid #abb2e1;*/
    /*!*font-size: 14px;*!/*/
    padding: 3px;
}

#question_form_down_panel button{

    /*margin-top:15px;*/
    padding:5px 25px;
    font-size: 14px;
    border-radius: 2px;
    color: #eaeaee;
    background: -webkit-linear-gradient(top, rgb(78, 104, 149) 0%, rgba(58, 65, 122, 1) 100%);
}

#question_form_down_panel{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: end;
    -webkit-box-pack: end;
}

#question_form_error_message{
    padding:5px;
    font-size: 13px;
    -webkit-box-flex: 1;
    display:none;
}

#question_form_close_button{
    float: right;
    /*margin-right:5px;*/
}
#question_form_close_button img{
    width:12px;
}

#unauth_header_missing_fields_error{
    display:none;
    font-size: small;
}

