* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    background: #d9eafe;
    font-family: "Trebuchet MS", sans-serif;
}

button:hover {
    cursor: pointer;
}

h1, h2, h3 {
    color: rgb(58, 65, 122);
}

#page_wrapper {
    width: 60%;
    height: 80%;
    background: #ebf3fe;
    margin: 40px auto 0 auto;
    padding: 40px 0 0 0;
}

/*
    MAIN HEADER STRUCTURE
*/
#main_header_background {
    /*padding: 15px;*/
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    background-color: #4e6895;
    /*border: 2px solid lightsalmon;*/
}

#main_header_content {
    /*padding: 15px;*/
    width: 60%;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    /*-webkit-box-pack: end;*/
    -webkit-box-align: center;
    background-color: #4e6895;
    /*border: 1px solid greenyellow;*/
}

/*
    MAIN HEADER LEFT PART
*/
#main_header_left_part {
    width: 25%;
    text-align: left;
    /*border: 2px solid red;*/
}

#home_button {
    background: transparent;
    border: 0;
}

#home_button img {
    width: 30px;
}

/*
    MAIN HEADER CENTER PART
*/
#main_header_center_part {
    width: 50%;
    text-align: center;
    /*border: 2px solid green;*/
}

#search_box {
    padding-left: 10px;
    width: 70%;
    height: 70%;
    border-radius: 6px;
    background: #2d3758;
    border: 0;
    color: #d9eafe;
}

/*
    MAIN HEADER RIGHT PART
*/
#main_header_right_part {
    width: 25%;
    text-align: right;
    /*border: 2px solid red;*/
}

#call_login_menu_button {
    /*background: #a1b5d7;*/
    border: 0;
    border-radius: 5px;
    color: #eaeaee;
    font-size: 14px;
    /*font-weight: bold;*/
    padding: 10px;
    background: transparent;
}

#call_login_menu_button:hover {
    text-decoration: underline;
}

/*
    LOGIN MENU
*/
#login_menu {
    display: none;
    top: 38px;
    /*left:0;*/
    right: 20%;
    /*margin-left: -5%;*/
    padding: 10px;
    /*width: 210px;*/
    /*height: 300px;*/
    position: fixed;
    background: white;
    border-radius: 3px;
    text-align: center;
    /*border: 1px solid red;*/
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
    /*left: 65%;*/

}

#login_menu input {

    width: 200px;
    height: 26px;
    border: 1px solid #abb2e1;
    border-radius: 2px;
    font-size: 13px;

    padding: 3px;
    margin-bottom: 10px;
}

#complete_login_button {
    width: 200px;
    height: 26px;
    /*border: 3px solid #abb2e1;*/
    font-size: 13px;
    border-radius: 2px;
    border: 0;
    color: #eaeaee;
    background: -webkit-linear-gradient(top, rgb(78, 104, 149) 0%, rgba(58, 65, 122, 1) 100%);
}

#call_registration_page_button {
    margin-top: 5px;
    background: transparent;
    border: 0;
    color: darkgray;
}

#call_registration_page_button:hover {
    text-decoration: underline;
    margin-top: 5px;
    background: transparent;
    border: 0;
    color: darkgray;
}

.arrow-up {
    display: none;
    position: relative;
    top: -15px;

    width: 0;
    height: 0;
    border-left: 5px solid transparent; /* left arrow slant */
    border-right: 5px solid transparent; /* right arrow slant */
    border-bottom: 5px solid white; /* bottom, add background color here */
    font-size: 0;
    line-height: 0;
}

#auth_menu_arrow{
    right: -90%;
}


.text_field_list {
    white-space: nowrap;
    margin: auto;
    width: 240px;
    /*border: 1px solid black;*/

}

.text_field_list input {
    /*white-space: nowrap;*/
    margin-top: 10px;
    width: 240px;
    height: 30px;
    border: 1px solid #abb2e1;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px;
}

.text_field_list button {
    margin-top: 10px;
    width: 240px;
    height: 30px;
    /*border: 3px solid #abb2e1;*/
    font-size: 14px;
    border-radius: 5px;
    border: 0;
    color: #eaeaee;
    background: -webkit-linear-gradient(top, rgb(78, 104, 149) 0%, rgba(58, 65, 122, 1) 100%);
}

.text_field_list span {
    display: none;
    font-size: small;
    color: #1b1341;
}

#auth_header_ask_question_button{
    margin-left:5px;
    width: 50%;
    height: 25px;
    font-size: 13px;
    border-radius: 2px;
    border: 0;
    color: #eaeaee;
    /*vertical-align: middle;*/

    background: -webkit-linear-gradient(top, rgb(78, 104, 149) 0%, rgba(58, 65, 122, 1) 100%);
}

#auth_header_call_options_menu_button{
    font-size: 13px;
    color: #eaeaee;
    height: inherit;
    border:0;
}

#auth_header_call_options_menu_button img{
    border-radius: 3px;
    vertical-align: middle;
}

#options_menu_arrow{
    right: -5%;
}

#options_menu {
    display: none;
    top: 38px;
    /*left:0;*/
    right: 22%;
    /*margin-left: -5%;*/
    padding: 10px;
    /*width: 210px;*/
    /*height: 300px;*/
    position: fixed;
    background: white;
    border-radius: 3px;

    /*border: 1px solid red;*/
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
    text-align: left;
    /*left: 65%;*/

}

#options_menu button{
    width: 100px;
    background: transparent;
    margin-top: 5px;
    text-align: left;
    border:0;
}