* {
    margin: 0;
}

body {
    background: #d3d5f2;
    font-family: "Trebuchet MS", sans-serif;
}

#page_wrapper {
    width: 1000px;
    margin: auto;
    /*border: 2px solid red;*/

}

#main_page_header {
    /*padding: 15px;*/
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    background-color: #1b1341;
}

#left_part_main_page_header {
    -webkit-box-flex: 1;

    display: -webkit-box;
    -webkit-box-orient: horizontal;
    /*-webkit-box-align: center;*/
    /*border: 2px solid green;*/

}

.login_signup_button {
    background: transparent;
    border: 2px solid #1b1341;
    color: #eaeaee;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
    padding: 15px;
}

.login_signup_button:hover {
    cursor: pointer;
    border-bottom: 2px solid whitesmoke;

}

.question_button {
    background: #abb2e1;
    border: 0;
    border-radius: 5px;
    color: #eaeaee;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}

.text_field_list {
    margin: auto;
    width: 500px;
    /*border: 1px solid black;*/

}

.text_field_list input {
    margin-top: 10px;
    width: 250px;
    height: 40px;
    border: 1px solid #abb2e1;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px;
}

.text_field_list button {
    margin-top: 10px;
    width: 250px;
    height: 40px;
    /*border: 3px solid #abb2e1;*/
    font-size: 14px;
    border-radius: 5px;
    border: 0;
    color: #abb2e1;
    background: -webkit-linear-gradient(top, rgba(61, 87, 177, 1) 0%, rgba(58, 65, 122, 1) 100%);
}

#registration_form span {
    display: none;
    font-size: small;
    color: #1b1341;
}