#profile_page_content_wrapper {
    border-radius: 5px;
    padding:20px;
    background: #fff;
    border: 1px solid #ddd;
}

#avatar{
    width:150px;
    border:1px solid #ddd;
    border-radius: 5px;
}

#profile_page_user_panel{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}

#profile_page_user_info{
    -webkit-box-flex:1;
    margin-left:20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.profile_page_user_stat{
    text-align: center;
    margin:10px;
}

.profile_page_user_stat b{
    font-size: large;
    color: rgb(73, 102, 203);
}

#profile_page_user_panel p{
    color: #b1b1b1;
}



#profile_page_tabs{
    margin-top:20px;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
}

.tabs input {
    display: none;
}

.tabs label {
    display: inline-block;
    /*margin: 0 0 -1px;*/
    padding: 10px 20px;
    text-align: center;
    color: #aaa;
    /*border: 0*/
    /*background: #f1f1f1;*/
    /*border-radius: 3px 3px 0 0;*/
}

.tabs label:hover {
    color: #888;
    cursor: pointer;
}

.tabs input:checked + label {
    color: #555;
    /*border: 1px solid #ddd;*/
    border-bottom: 2px solid rgb(58, 65, 122);
    /*border-bottom: 1px solid #fff;*/
    background: #fff;
}

section {
    display: none;
    /*background: #fff;*/
    /*border: 1px solid #ddd;*/
    /*border-radius: 5px 0 5px 5px;*/
}